/*Form*/
.user-account {
    margin-top: 7rem;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    background-color: #fff;
    padding: 2rem 6rem;
    border-radius: 2rem;
    width: 70%;
    min-width: fit-content;
    box-shadow: -1px 0px 16px -3px rgba(0,0,0,0.47);
}  

.form-image {
    align-self: center;
    padding: 1rem;
    background: linear-gradient(to bottom, var(--bg-secondary), var(--bg-primary));
    border-radius: 50%;
    width: 18rem;
    height: 18rem;
    transform: translateY(-7rem);
    transition: 0.5s;
}

.pointer {
    align-self: center;
	border: 7rem solid transparent;
	border-bottom: 0;
	border-top-color: var(--bg-primary);
    margin-top: -13.35rem;

}

.image-picker {
    cursor: auto;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user-form {
    margin-top: -1rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 3rem;
}

.form-group {
    display: flex;
    justify-content: flex-start;
}

.form-group > label {
    font-size: 1.7rem;
    flex-basis: 10rem;
}

.user-input {
    color: var(--text-primary);
    background: transparent;
    font-size: 1.7rem;
    margin-left: 1rem;
    border: 1px solid var(--text-primary);
    border-radius: 1rem;
    padding: 1rem;
    flex-basis: 30rem;
    flex-grow: 1;
}

.user-input:focus{
    color: var(--text-secondary);
}

.user-input:focus-within {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border: 0;
    border-radius: 0;
    border-bottom:2px solid  var(--bg-secondary);
}

.form-btn {
    margin-top: 2rem;
    cursor: pointer;
    padding: 1rem;
    letter-spacing: 2px;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.7rem;
    font-weight: 600;
    width: 50%;
    background-color: var(--bg-primary);
    transition: 0.6s;
}

.form-btn:last-child {
    background-color: var(--bg-secondary);
    margin-left: 1rem;
}

.form-btn:last-child:hover {
    background-color: #ff0000;
}

.form-btn:hover {
    background-color: #008000;
}

.form-btn:hover::before {
    content: '\2713  ';  
}

.form-btn:last-child:hover::before {
    content: '\2717  ';  
}