* {
  box-sizing: border-box;
}

body {
  overflow-y: hidden;
  background-color: rgb(32, 20, 99);
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 70px;
  color: #fff;
  font-family: 'Sigmar One', cursive;
  font-weight: normal;
}